.widget_container{
    width: 100%;
    height: 100%;
    padding-bottom: 4rem;
}

.main_section{
    height: 100vh;
    padding: 4rem;
}

.widget{
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 1px 0px 19px 10px rgba(88,101,242,0.62); 
    box-shadow: 1px 0px 19px 10px rgba(88,101,242,0.62);
}

@media (max-width: 910px) { 

    .main_section{
        height: 75vh;
        padding:2rem;   
    }

    .widget_container{
        padding-bottom: 2rem;

    }
  }