.haiku_vh {
    height: 50vh;
    justify-content: center;
    display: flex;
    padding: 4rem;
}
.haiku_container {
    margin-bottom: 2em;
    line-height: 0.25em;
}
.haiku_line {
    color: white;
    font-size: clamp(2em,8vw,3em);
    font-weight: bold;
}
.haiku_note {
    margin-top: 1.5em;
    font-size: clamp(1rem,4vw,1.3rem);

}
.green {
    color: #57F287;
}
.yellow {
    color: #FEE75C;
}
.red {
    color: #EB459E;
}