.hero {
  display: flex;
  max-width: 850px;
  margin: auto;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.canvas {
  height: 50%;
  width: 50%;
}

.intro {
  width: 50%;
}

.button_link {
  border-radius: 15px;
  border: none;

  padding-left: 18px;
  padding-right: 18px;

  padding-top: 13px;
  padding-bottom: 13px;

  font-weight: bold;
  font-size: 1em;
}

.button_container {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

@media (max-width: 910px) { 

  .hero{
    flex-direction: column-reverse;
    height: auto;

  }

  .canvas {
    height: 400px;
    width: 100%;
  }

  .intro{
    width: auto;
    text-align: center;
    padding:2rem;
  }
  .button_container{
    justify-content: center;
  }
}
