.info {
  /* height: 80vh; */
  background: linear-gradient(
    128deg,
    rgba(68, 199, 182, 1) 0%,
    rgba(115, 110, 254, 1) 75%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  padding:3rem;
}
.cool_stuff {
  font-size: 3rem;
}
.cool_stuff_stuff {
  font-size: 1.25em;
}
.mosaic_container {
  display: flex;
  margin:  1rem 4rem 4rem 0;
}

.shifted_tiles{
  margin-left: 2.815rem;
  transform: translateY(50px)
}


@media (max-width: 880px) { 

  .info{
    flex-direction: column-reverse;
    text-align: center;
  }

  .mosaic_container {
    flex-direction: column;
    margin-top:  1rem;
    margin-left: auto;
    margin-right: auto;
  }

  .shifted_tiles{
    margin-left: 0;
    margin-top: 2.815rem;
    transform: translateY(0);
  }
}
