.info {
  height: 80vh;
  background: linear-gradient(
    128deg,
    rgba(68, 199, 182, 1) 0%,
    rgba(115, 110, 254, 1) 75%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  padding:3rem;
}

.mosaic_container {
  display: flex;
  margin-right: 4rem;
}
